<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem quaerat delectus maxime recusandae dicta, esse deserunt laudantium. Veniam, veritatis consequatur.</p>
    </div>
</div>