<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App Nodejs and Mongod</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam at accusamus. Nisi, temporibus earum?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, voluptatem numquam? Corrupti dolorum consectetur laboriosam doloribus aspernatur doloremque, itaque accusantium.</p>
    <a href="https://www.youtube.com/" class="btn btn-primary">Youtube</a>
</div>